<div class="card">
    <img src="@Project.SnapshotUrl"/>

    <div class="tags">
        <Tag TagDescription="css"/>
        <Tag TagDescription="HTML"/>
    </div>
    <a href="@Project.URL"><h1>@Project.Name</h1></a>

</div>