@page "/"
@using FrontEndTraining.Models

@foreach (var project in projects)
{
    <a href="@project.URL"><h1>@project.Name</h1></a>
}

@code
{
    private List<Project> projects = new()
    {
      new Project()
      {
          Name = "Blog Card", URL = "/FrontEnd-Training/Projects/blog-preview-card-main/index.html"
      },
      new Project()
      {
          Name = "Product Card", URL = "/FrontEnd-Training/Projects/Products-preview-card-components-main"
      }
    };
}
