@page "/"

@foreach (var folder in folderNames)
{
    <h1>@folder</h1>
}

@code
{
    private List<string> folderNames = new()
    {
        "blog-preview-card-main",
        "product-preview-card-component-main"
    };
}
