@page "/"

@foreach (var folder in folderNames)
{
    <h1>@folder</h1>
}

@code
{
    private List<string> folderNames = new();
    protected override void OnInitialized()
    {
        folderNames = Directory.GetDirectories("./").ToList();

        base.OnInitialized();
    }
}
