@page "/"

@foreach (var folder in folderNames)
{
    <h1>@folder</h1>
}

@code
{
    private List<string> folderNames = new();
    protected override void OnInitialized()
    {
        string rootpath = System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot");

        folderNames = Directory.GetDirectories(rootpath).ToList();

        base.OnInitialized();
    }
}
