@page "/"

@foreach (var folder in folderNames)
{
    <a href="/FrontEnd-Training/Projects/blog-preview-card-main/index.html"><h1>@folder</h1></a>
}

@code
{
    private List<string> folderNames = new()
    {
        "blog-preview-card-main",
        "product-preview-card-component-main"
    };
}
